/*

# files
!.gitignore
!.pre-commit-config.yaml
!.python-version
!asv.conf.json
!CHANGELOG.md
!flake.lock
!flake.nix
!justfile
!LICENSE
!pyproject.toml
!README.md
!uv.lock

# folders
!.github/
!.vscode/
!benchmarks/
!data/
!docs/
!sexp_native/
!src/
!tests/

# reignore
__pycache__/
sexp_native/target/
src/sexp/*.so
