[project]
name = "sexp"
version = "0.0.0"
description = "RFC 9804 Simple Public Key Infrastructure (SPKI) S-Expressions parser-generator"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
]

[project.scripts]
sexp = "sexp:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.uv]
dev-dependencies = [
    "coverage>=7.6.1",
    "hypothesis>=6.112.4",
    "lark>=1.2.2",
    "pytest-cov>=5.0.0",
    "pytest-mock>=3.14.0",
    "pytest>=8.3.3",
    "ruff>=0.12.4",
    "ty>=0.0.1a15",
]

[tool.pytest.ini_options]
minversion = "6.0" # Set the minimum pytest version
addopts = [
    "--strict-markers",
    "--tb=short",
    "--verbosity=4",
]
testpaths = ["tests/"]
